<ion-view title="Screen Prints">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
              <ion-item class="item-thumbnail-left" ng-repeat="print in printedShirts">
                <img ng-src="{{print.url}}">
                <h2>{{print.name}}</h2>
                <p>{{print.description}}</p>
                <hr>
            <button class="button button-block button-small button-positive" ng-click="buyPrint()">Add to Cart</button>
            </ion-item>
            
            <!--<ion-item class="item-thumbnail-left">
                <img src="img/9rtXBO3STTSXdPVePWaS_design.jpg">
                <h2>Generic</h2>
                <p>Your brand</p>
                <hr>
            <button class="button-block">Add to Cart</button>
            </ion-item>
           
            
            <form class="list"></form>
            <ion-item class="item-thumbnail-left">
                <img src="img/HaZGfL4NSfWrZxS6elpE_red.jpg">
                <h2>Red Shirt</h2>
                <p>To show color</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0wnQdP9rTri3jPQDabCb_dude.jpg">
                <h2>The Dude</h2>
                <p>Your brand name</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/HL8o9tVlS9mcDc8pUXks_screen.jpg">
                <h2>Example</h2>
                <p>Put info here</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/73Uqk9EQX6I9fvfUF8zQ_mma.jpg">
                <h2>MMA</h2>
                <p>copyright not mine</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/dxgHxn27R8WiP3GczJF9_construction.jpg">
                <h2>Construction</h2>
                <p>Brown Shirt Description</p>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>