<ion-view title="Branded Prints">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/9rtXBO3STTSXdPVePWaS_design.jpg">
                <h2>Generic</h2>
                <p>Your brand</p>
            </ion-item>
            <form class="list"></form>
            <label class="item item-select">
                <span class="input-label">Select Size</span>
                <select>
                    <option>sm</option>
                    <option>m</option>
                    <option>l</option>
                    <option>xl</option>
                    <option>xxl</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Quantity</span>
                <input type="number" placeholder="0">
            </label>
            <ion-checkbox>Add to Cart</ion-checkbox>
            <form class="list"></form>
            <ion-item class="item-thumbnail-left">
                <img src="img/HaZGfL4NSfWrZxS6elpE_red.jpg">
                <h2>Red Shirt</h2>
                <p>To show color</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0wnQdP9rTri3jPQDabCb_dude.jpg">
                <h2>The Dude</h2>
                <p>Your brand name</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/HL8o9tVlS9mcDc8pUXks_screen.jpg">
                <h2>Example</h2>
                <p>Put info here</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/73Uqk9EQX6I9fvfUF8zQ_mma.jpg">
                <h2>MMA</h2>
                <p>copyright not mine</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/dxgHxn27R8WiP3GczJF9_construction.jpg">
                <h2>Construction</h2>
                <p>Brown Shirt Description</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>