<ion-view title="Choose Custom Clip Art">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/EjQssutQNKb5xhBfmD1w_clip1.png) no-repeat center;" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/iHm9DxcSEOKGrXEg861A_clip1.png">
                <h2>Black and White</h2>
                <p>Design Description here</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/JLKR8EiMS9qudVFjQyZO_clip6.png">
                <h2>Circle Flower</h2>
                <p>Item found on internet</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/iHm9DxcSEOKGrXEg861A_clip1.png">
                <h2>Black and White</h2>
                <p>Design Description here</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/KNzsYlULQqmwa3D5NITD_clip2.jpg">
                <h2>This is an Owl</h2>
                <p>It doesnt belong here</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/CEerwZ6TyOdDdFsShi8U_clip3.jpg">
                <h2>Moon Man</h2>
                <p>Description-Look over there!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Blank Title</h2>
                <p>Add Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/JLKR8EiMS9qudVFjQyZO_clip6.png">
                <h2>Circle Flower</h2>
                <p>Item found on internet</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/fLL0SxOCQq2lKhm6s0cO_clip5.jpg">
                <h2>Title Unkown</h2>
                <p>Designed by Anonymous</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>