<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true"  style="background: url('img/shop-strange-crop.png') no-repeat center;" class="has-header">
        <form class="list" ng-submit="login(user)">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="email" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="password" ng-model="user.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button  class="button button-stable button-block" >Log in</button>
            <a ui-sref="signup" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
        <a ui-sref="tabsController.t-ShirtDesigner" class="button button-stable button-block" ng-click="warn()">No Thanks, Take me to the app</a>
    </ion-content>
</ion-view>