<ion-view title="Your Custom Designs">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
          <!--Order View-->
        <div class="card">
            <div class="item item-divider">
                {{member.username}} has {{myDesigns.length}} saved designs
            </div>

            <!--Repeating Card-->
            <div class="card" ng-repeat="item in myDesigns ">
                <div class="item item-divider">
                    <span>Item Details for "{{item.details.name}}" </span>
                    <button class="button button-assertive" style="float: right" ng-click="myDesigns.$remove(item)">X</button>
                </div>
                <div class="item item-text-wrap">
                    <div class="list">
                        <!--<a class="item item-thumbnail-left" href="#">-->

                        <!--Mine-->
                        <div class="shirt-div shrink">
                            <img ng-src="{{item.details.shirtUrl}}" alt="shirt preview here" height="300" />
                            <div class="image-div" style="top: {{item.logo.position.top}}px; left: {{item.logo.position.left}}px; height: {{item.logo.size.height}}px; width: {{item.logo.size.width}}px;">
                                <img class="image" ng-src="{{item.details.imageUrl}}">
                                <!--{{order.logo.position}}
                                    <br> {{order.logo.size}}-->
                            </div>
                        </div>

                        <div class="item item-divider">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Design ID: </td>
                                        <td class="text-right"> {{item.$id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Name: </td>
                                        <td class="text-right"> {{item.details.name}}</td>
                                    </tr>
                                    <!--<tr>
                                        <td>Price: </td>
                                        <td class="text-right"> {{item.details.price | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Qty: </td>
                                        <td class="text-right"> {{item.quantity}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sub Total: </td>
                                        <td class="text-right"> {{item.total | currency}}</td>
                                    </tr>-->
                                </tbody>
                            </table>
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End Repeat-->

            <div class="item item-divider">
                Total saved designs: <span class="text-right"> {{myDesigns.length}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>