<ion-view title="Quantity Picker">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list center">
            <!---->
            <ion-list>
                <h3>Choose shirt sizes and add to cart</h3>
                <label class="item item-input">
                    <span class="input-label">sm: </span>
                    <input type="number" ng-model="design.sizes.sm">
                </label>
                <label class="item item-input">
                    <span class="input-label"> md: </span>
                    <input type="number" ng-model="design.sizes.md">
                </label>
                <label class="item item-input">
                    <span class="input-label"> lg: </span>
                    <input type="number" ng-model="design.sizes.lg">
                </label>
                <label class="item item-input">
                    <span class="input-label"> xl: </span>
                    <input type="number" ng-model="design.sizes.xl">
                </label>
                <label class="item item-input">
                    <span class="input-label"> xxl: </span>
                    <input type="number" ng-model="design.sizes.xxl">
                </label>
            </ion-list>
            <button class="button button-block button-positive icon ion-android-cart" ng-click="addToCart()"> Add to Cart</button>
            <button class="button button-block button-assertive icon ion-arrow-left-a" ui-sref="tabsController.t-ShirtDesigner"> Go Back </button>
        </form>
    </ion-content>
</ion-view>