<ion-view title="Shopping Cart ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <h2>Order Total : {{totalPrice | currency}}</h2>
        </div>
        <form class="list" stripe-form="stripeCallback">
                <label class="item item-input">
                    <span class="input-label">CC# </span>
                    <input class="form-control" ng-model="number" placeholder="Card Number" payments-format="card" />
                </label>
            <label class="item item-input">
                <span class="input-label">Expiration</span>
                <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" />
            </label>
            <label class="item item-input">
                <span class="input-label">CVC </span>
                <input ng-model="cvc" placeholder="CVC" payments-format="cvc" />
            </label>
            <label class="item item-input">Save my payment information -
                <label id="cc-toggle" class="toggle toggle-assertive">
                    <input type="checkbox" />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
            <button type="submit" class="button button-positive button-block  icon-right ion-android-cart">Check Out</button>
        </form>
        <!--<form class="list">
            <label class="item item-input">
                <span class="input-label">Name:</span>
                <input type="text" placeholder="John Doe">
            </label>
            <label class="item item-input">
                <span class="input-label">Address:</span>
                <input type="text" placeholder="123 S.South St.">
            </label>
            <label class="item item-input">
                <span class="input-label">City,State,Zip</span>
                <input type="text" placeholder="Boise,Id 33333">
            </label>
        </form>-->
        <!--<form class="list">
            <label class="item item-select">
                <span class="input-label">Credit Card</span>
                <select>
                    <option>Visa</option>
                    <option>Mastercard</option>
                    <option>Paypal</option>
                    <option>Bitcoin</option>
                </select>
            </label>


            <label class="item item-input">
                <span class="input-label">CC#-</span>
                <input type="text" placeholder="">
            </label>


            <label class="item item-input">
                <span class="input-label">SC#-</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form class="list"></form>
        <button class="button button-positive button-block  icon-right ion-android-cart">Check Out</button>-->
    </ion-content>
</ion-view>