<ion-view title="Shopping Cart ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--<div>
            <h2>Name: {{current.details.user}}</h2>
            <h2>Price by Shirt: {{member.current.details.price | currency}}</h2>
            <h2>Design Name: {{member.current.details.name}}</h2>
            <h2>Image: {{member.current.details.imageName}}</h2>
            <h2>Shirt Color: {{member.current.details.shirtColor}}</h2>
            <h2>Order Total : {{member.current.total | currency}}</h2>
        </div>-->

        <!--New Table-->
        <!--<div class="media-content">
            <div>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>Order Number: </td>
                            <td>{{order.details.saveNum}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->

        <!--Order View-->
        <div class="card">
            <div class="item item-divider">
                Your Order Details for {{member.username}}
            </div>

            <!--Repeating Card-->
            <div class="card" ng-repeat="item in myCart ">
                <div class="item item-divider">
                    <span>Item Details for "{{item.details.name}}" </span>
                    <button class="button button-assertive" style="float: right" ng-click="myCart.$remove(item); getCartTotal()">X</button>
                </div>
                <div class="item item-text-wrap">
                    <div class="list">
                        <!--<a class="item item-thumbnail-left" href="#">-->

                        <!--Mine-->
                        <div class="shirt-div shrink">
                            <img ng-src="{{item.details.shirtUrl}}" alt="shirt preview here" height="300" />
                            <div class="image-div" style="top: {{item.logo.position.top}}px; left: {{item.logo.position.left}}px; height: {{item.logo.size.height}}px; width: {{item.logo.size.width}}px;">
                                <img class="image" ng-src="{{item.details.imageUrl}}">
                                <!--{{order.logo.position}}
                                    <br> {{order.logo.size}}-->
                            </div>
                        </div>

                        <!--Original info-->
                        <!--<h2>Name: {{item.details.name}}</h2>
                            <p>Order Id {{item.$id}}</p>
                            <p>Unit Price: {{item.details.price}}</p>
                            <p>Quantity: {{item.quantity}}</p>
                            <p>Sub-total: {{item.total | currency}}</p>-->
                        <div class="item item-divider">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Design ID: </td>
                                        <td class="text-right"> {{item.$id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Name: </td>
                                        <td class="text-right"> {{item.details.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Price: </td>
                                        <td class="text-right"> {{item.details.price | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Qty: </td>
                                        <td class="text-right"> {{item.quantity}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sub Total: </td>
                                        <td class="text-right"> {{item.total | currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End Repeat-->

            <div class="item item-divider">
                Order Grand Total: <span class="text-right"> {{myCart.cartTotal | currency}}</span>
            </div>
        </div>


        <!--Original info display-->
        <form class="list" ng-submit="orderNow()" stripe-form="stripeCallback">
            <label class="item item-input">
                <span class="input-label">CC# </span>
                <input class="form-control" ng-model="number" placeholder="Card Number" payments-format="card" />
            </label>
            <label class="item item-input">
                <span class="input-label">Expiration</span>
                <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" />
            </label>
            <label class="item item-input">
                <span class="input-label">CVC </span>
                <input ng-model="cvc" placeholder="CVC" payments-format="cvc" />
            </label>
            <label class="item item-input">Save my payment information -
                <label id="cc-toggle" class="toggle toggle-assertive">
                    <input type="checkbox" />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
            <button type="submit" class="button button-positive button-block  icon-right ion-android-cart">Check Out</button>
        </form>

        <!--details: Object
date: 1458074160645
email: ""
imageName: "tape"
imageUrl: "img/tape.png"
name: "aaaa"
price: 19.99
saveNum: 1
shirtColor: "Black"
shirtUrl: "img/black-shirt.jpg"
user: "Mock User Name"-->








        <!--<form class="list">
            <label class="item item-input">
                <span class="input-label">Name:</span>
                <input type="text" placeholder="John Doe">
            </label>
            <label class="item item-input">
                <span class="input-label">Address:</span>
                <input type="text" placeholder="123 S.South St.">
            </label>
            <label class="item item-input">
                <span class="input-label">City,State,Zip</span>
                <input type="text" placeholder="Boise,Id 33333">
            </label>
        </form>-->
        <!--<form class="list">
            <label class="item item-select">
                <span class="input-label">Credit Card</span>
                <select>
                    <option>Visa</option>
                    <option>Mastercard</option>
                    <option>Paypal</option>
                    <option>Bitcoin</option>
                </select>
            </label>


            <label class="item item-input">
                <span class="input-label">CC#-</span>
                <input type="text" placeholder="">
            </label>


            <label class="item item-input">
                <span class="input-label">SC#-</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form class="list"></form>
        <button class="button button-positive button-block  icon-right ion-android-cart">Check Out</button>-->
    </ion-content>
</ion-view>