<ion-view title="T-Shirt Designer ">
    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Color</span>
                <select ng-model="selectedShirt" ng-options="shirt.color for shirt in shirts | orderBy:'color'" ng-change="shirtView('front', selectedShirt)">
                </select>
            </label>
        </form>
        <h5>Selected Shirt: {{selectedShirt.color}}</h5>

        <!--<hr/>
        <label>Custom Text Box</label>
        <textarea type="text" placeholder="enter text" ng-model="userText"></textarea>
        <span class="image-div">{{userText}}</span>-->
        <div class="shirt-div" style="text-align:center;">
            <img ng-src="{{shirtViewer}}" height="300px">
            <div class="image-div"><img class="image" ng-src="{{selectedImage.image}}"></div>
            <button class="button button-block button-balanced icon ion-star" ng-click="PassInfo(selectedShirt,selectedImage)" ui-sref="savePage">
                Save</button>
            <!--ng-click="save()-->
            <!--<button class="button button-balanced icon ion-folder" ui-sref="selectSizes"> Select Sizes</button>-->
        </div>


        <form class="list"></form>
        <div class="button-bar">
            <button ng-click="shirtView('sleeve')" class="button button-dark button-block ">Sleeve</button>
            <button ng-click="shirtView('front')" class="button button-dark button-block ">Front</button>
            <button ng-click="shirtView('back')" class="button button-dark button-block ">Back</button>
        </div>

        <button class="button button-block" ng-click="uploadWindow()" ng-show="!showUpload">Upload an Image</button>
        <div class="center list" ng-show="showUpload">
            <form>
                <ion-list>
                    <h5>Use '.png' or '.psd' files for best results</h5>
                    <p><i>user is responsible for all copyright compliance</i></p>
                    <label class="item item-input">
                        <span class="input-label">Enter Image Name: </span>
                        <input type="text" ng-model="upload.name" placeholder="name">
                    </label>
                    <label class="item item-input"><span class="input-label">Enter Image Url: </span>
                        <input type="text" ng-model="upload.image" placeholder="image url">
                    </label>
                    <button ng-click="uploadImage(upload)" class="button button-block">Upload</button>
                </ion-list>
            </form>
            <!--Quill testing-->
            <!--{{message}}-->
            <ng-quill-editor ng-model="message" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image"
            editor-required="true" required="" error-class="input-error"></ng-quill-editor>
            <!--End quill testing-->
        </div>

        <div ng-include="'templates/chooseCustomClipArt.html'"></div>

    </ion-content>
</ion-view>