<ion-view title="T-Shirt Designer ">
    <ion-content overflow-scroll="true" padding="true" style="background: url() no-repeat center;" class="has-header">

        <!--Select Shirt Color-->
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Color</span>
                <select ng-model="selectedShirt" ng-options="shirt.color for shirt in shirts | orderBy:'color'" ng-change="shirtView('front', selectedShirt)">
                </select>
            </label>
        </form>
        <h5>Selected Shirt: {{selectedShirt.color}}<span style="float: right" ><i>Choose a design or upload an image</i></span></h5>


        <!--Display Shirts and Images-->
        <div class="shirt-div" style="text-align:center;">
            <img ng-src="{{shirtViewer}}" height="300px">
            <span id="toggle"><div class="image-div"><img class="image" ng-src="{{selectedImage.image}}"></div></span>
            <button class="button button-block button-balanced icon ion-star" ng-click="PassInfo(selectedShirt,selectedImage)"> Save</button>
        </div>

        <!--Shirt View Select Buttons-->
        <form class="list"></form>
        <div class="button-bar">
            <button ng-click="shirtView('sleeve')" class="button button-dark button-block ">Sleeve</button>
            <button ng-click="shirtView('front')" class="button button-dark button-block ">Front</button>
            <button ng-click="shirtView('back')" class="button button-dark button-block ">Back</button>
        </div>

        <!--Upload Image Window and Form-->
        <button class="button button-block" ng-click="uploadWindow()" ng-show="!showUpload">Upload an Image</button>
        <div class="center" ng-show="showUpload">
            <form class="list">
                <ion-list>
                    <h5>Use '.png' or '.psd' files for best results</h5>
                    <p><i>user is responsible for all copyright compliance</i></p>
                    <label class="item item-input">
                        <span class="input-label">Enter Image Name: </span>
                        <input type="text" ng-model="upload.name" placeholder="name">
                    </label>
                    <label class="item item-input"><span class="input-label">Enter Image Url: </span>
                        <input type="text" ng-model="upload.image" placeholder="image url">
                    </label>
                    <label class="item item-input"><span class="input-label">Enter Description </span>
                        <input type="text" ng-model="upload.description" placeholder="describe">
                    </label>
                </ion-list>
                <button ng-click="uploadImage(upload)" class="button button-block">Upload</button>
            </form>
        </div>

        <!--Quill testing-->
        <!--{{message}}-->
        <!--<ng-quill-editor ng-model="message" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image"
            editor-required="true" required="" error-class="input-error"></ng-quill-editor>-->
        <!--End quill testing-->


        <!--Display Customer Uploaded Images-->
        <ion-list ng-if="member.uploads[0]">
            <h3 class="center backcolor">Your Uploads</h3>
            <hr>
            <ion-item ng-repeat="upload in member.uploads" ng-click="imagePicker(upload)" class="item-thumbnail-left">
                <img ng-src="{{upload.image}}">
                <h2>{{upload.name}}</h2>
                <p>Design Description here:{{upload.description}}</p>
            </ion-item>
        </ion-list>

        <!--Includes Clip Art Html-->
        <div ng-include="'templates/chooseCustomClipArt.html'"></div>

    </ion-content>
</ion-view>