<ion-view title="T-Shirt Designer ">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/GkQtPRSSDrg0t3RuRlw8_tshirt.jpg) no-repeat center;" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Color</span>
                <select>
                    <option>Black</option>
                    <option>White</option>
                    <option>Red</option>
                    <option>Blue</option>
                    <option>Green</option>
                    <option>Orange</option>
                    <option>Yellow</option>
                    <option>Grey</option>
                    <option>Pink</option>
                </select>
            </label>
        </form>
        <div style="text-align:center;">
            <img src="img/v83b1ElRCKCKBr521MVo_tshirt.jpg" width="100%" height="auto">
        </div>
        <form class="list"></form>
        <div class="button-bar">
            <button class="button button-dark button-block ">Sleeve</button>
            <button class="button button-dark button-block ">Front</button>
            <button class="button button-dark button-block ">Back</button>
        </div>
    </ion-content>
</ion-view>