.shirt-div{
    width: 300px;
    position: relative;
    background-color: red;
    z-index: -1;
}
.image-div{
max-width: 100%;
    min-height: 20px; 
    background-color: green;
    /*max-width: 100%;
    max-height: 100%;*/
    position: absolute;
    left:729px;
    top:65px;   
}
.image{
    max-width: 100%;
    max-height: 100%;
}